PORT=3000
HOST=0.0.0.0

# Пароль, по которому внешний провайдер полчит доступ к сервису
AUTH__EXTERNAL_SERVICE__PASSWORD=password

AUTH__JWT_STRATEGY__JWT_SECRET=keyboad cat

MONGODB_URI=mongodb://root:root@mongo:27017/messembed?authSource=admin

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root

# Если поставить true, то пользователи не смогут самостоятельно отправлять первое сообшение
# другому пользователю, с которым ранее не были ни какие сообщения. В таком случае, чтобы
# пользователи могли общаться, админ сам должен инициировать общение между ними через вызов метода .createChat(...)
#
# По умполчанию false, то есть любой пользователь может начать переписываться с любым другим.
DISALLOW_USERS_TO_CREATE_CHATS=false
